h1{
    background-color: bisque;
    text-align: center;
    color: blue;
}

h3{
    background-color: bisque;
    text-align: center;
    color:brown;
}

form{
    text-align: center;
    color:black;
}