nav ul {
    list-style: none;
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1;

}

nav li {
    margin: 0.5em 2em;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: gray;

}

.user a {
    padding: 0.5ex;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(212, 205, 205);
    background-color: blue;
    align-items: center;
    position: absolute;
    margin-top: 1ex;
    border-color: antiquewhite;
    margin-left: 1em;
}

nav ul span img {
    height: 35px;
    width: 35px;
    margin-top: 0.5em;
    justify-content: center;
    margin-left: 10em;
}

#feature h2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;

}

.featured-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 300px;
    border: 3px solid antiquewhite;
    border-radius: 8px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.featured-class:hover {
    background-color: antiquewhite;
    border-color: grey;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    color: red;
    background-color: white;
}

.featured-class button {
    border: none;
    background-color: grey;
    color: antiquewhite;
    border-radius: 8px;
}

.featured-class button:active {
    transform: scale(1.5);
    transition: all 1s;
    margin-bottom: 6px;

}

.featured-wraper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-to-bottom {
    background-color: grey;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    z-index: 10;
    color: antiquewhite;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 24px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
}

.products-class img{
    height: 300px;
    width: 300px;
    justify-content: center;
    padding-left: 2em;
}
.products-class p{
    text-align: center;
    font-weight: bold;
    margin-right: 2em;
}
.products-class h1{
    justify-content: center;
    font-weight: bolder;
    color: darkcyan;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}
.products-class{
 border: 2px solid darkcyan;
    width: 100%;   
}
.product img{
    height: 300px;
    width: 300px;
    justify-content: center;
    margin-left: 2em;
    align-items: center;
    max-width: 100%;
}
.product h2{
    text-align: center;
    color: rgb(55, 31, 173);
}
.product p{
    font-weight: bold;
    text-align: center;
}
.product button{
    background-color: rgb(6, 7, 70);
    color: darkcyan;
     border: none;
     border-radius: 5px;
     margin-left: 6em;
     padding-left: 3em;
     padding-right: 3em;
     margin-bottom: 2em;
}
.product {
    width: 30%;
    justify-content: center;
    display: inline-block;
    margin-top: 4em;
    flex-wrap: wrap;
}

.cart-button {
    background-color: coral;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    z-index: 10;
    color: antiquewhite;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 12px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    cursor: move;
}

.cart-button:hover{
    transform: translateY(10px);
    transition: all 500ms;
}

.top-to-bottom:hover {
    transform: translateY(-10px);
    transition: all 500ms;
}

#links h2 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.links-class {
    list-style: none;
    display: flex;
    background-color: skyblue;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

div li {
    margin: 0.5em 2em;
    /* padding: 0.5em 1em; */
    border-radius: 10px;
    color: gray;
}

div a {
    text-decoration: none;
    color: inherit;
}

div li :hover{
    color: brown;
    background-color: white;
}

.small-container{
    margin: 20px auto;

}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    text-align: left;
    padding: 5px;
    background-color: bisque;
    color: #fff;
    font-weight: normal;
}

td input{
    width: 40px;
    height: 20px;
    padding: 5px;
} 

td a{
    font-size: 12px;
    color: #ff523b; 
}

td img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.total-info{
    display: flex;
    justify-content: flex-end;
}

.total-info table{
    border-top: 3px solid pink;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}